*{
    font-family: 'Montserrat', sans-serif;
}
.container {
    flex-direction: row;
    display: flex;
    height: 72px;
    width: 100%;
}

header {
    align-items: center;
}

.btn {
    justify-content: space-around;
}

#navbarScroll {
    justify-content: space-evenly;
}

.container-fluid {
    margin: 0px 95px;
    padding: 0px 15px;
}

/*#navbarNav{
    display: flex;
    flex-direction: row;
    align-items: center;
} */

hr {
    margin: 0rem;
}

.pinkBG {
    background-color: pink;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: sans-serif;
    font-size: 14px;

}

#navbarSupportedContent {
    justify-content: space-between;
}

#navbarNav {
    justify-content: flex-end;
}

#searchInput {
    height: 40px;
    width: 400px;
}

.navbar .navbar-nav .dropdown-hover {
    display: none;
    list-style: none;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    top: 80px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navbar .navbar-nav .dropdown-hover table {
    background-color: #fff;
}

.navbar .navbar-nav .dropdown-hover table thead th {
    color: #9F2089;
    border: none;
    width: 200px;
    text-align: left;
    padding:10px 20px;
}

.navbar .navbar-nav .dropdown-hover table tbody td {
    color: #616173;
    border: none;
    width: 200px;
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar .navbar-nav .dropdown-hover table tbody td a{
    text-decoration: none;
    color: #616173;
}

.tab-bg-2{
    background-color: rgb(248, 248, 255) !important;
}

.navbar .navbar-nav .nav-item:hover > .dropdown-hover{
display: block !important;

}

.navbar .navbar-nav .nav-item:hover {
    color: #9F2089;
    border-bottom: 4px solid #9F2089 !important;
}

.navbar .navbar-nav .nav-item:hover > a {
    color: #9F2089;
 }

 .navbar .navbar-nav .nav-item  a {
   font-weight: 600;
 }

.nav-2 .navbar-nav .nav-item{
    padding: 20px 10px;
}

input:active,input:focus{
    box-shadow: none !important;
}